:root {
  --primary-color: #71FFAA;

  --light-bg: #EFF2F9;
  --light-logo-text: #000000;

  --dark-bg: #000000;
  --dark-logo-text: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: black;
  margin: 0;
  padding: 0;
}

html, body, main {
  width: 100%;
  height: 100%;
}

body {
  border: 5px solid var(--primary-color);
  border-radius: 3px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 50%;
}

/* Light theme styles */
.light {
  background: var(--light-bg);
}

.light .logo-text {
  fill: var(--light-logo-text);
}

/* Dark theme styles */
.dark {
  background: var(--dark-bg);
}
